<form action="http://maps.google.com/maps" method="get" target="_blank" _lpchecked="1">
	<input type="hidden" name="daddr" value="11510 Whisper Lake Trail, Tampa, Florida 33626">

	<div class="form-group">
		<label for="saddr">
			Enter your starting address:
		</label>
		<div class="input-group">
			<input type="text" id="saddr" name="saddr" class="form-control" placeholder="123 Main Street, Tampa, FL 33626">
			<span class="input-group-btn">
				<input type="submit" value="Get Directions" class="btn btn-primary">
			</span>
		</div>
	</div>

</form>
