<form action="https://formspree.io/{{ site.email }}" method="post">

	<fieldset>
		<legend>General Information about the Volunteer</legend>

		<div class="form-group">
			<label for="name">
				Your Name: <small class="text-danger">*</small>
			</label>
			<input type="text" id="name" name="name" class="form-control" placeholder="First & Last" required>
		</div>
		<div class="form-group">
			<label for="_replyto">
				Email: <small class="text-danger">*</small>
			</label>
			<input type="email" id="_replyto" name="_replyto" class="form-control" placeholder="" required>
		</div>
		<div class="form-group">
			<label for="tel">
				Telephone: <small class="text-danger">*</small>
			</label>
			<input type="tel" id="tel" name="tel" class="form-control" placeholder="" required>
		</div>

		<div class="form-group">
			<label for="address1">
				Address: <small class="text-danger">*</small>
			</label>
			<input type="text" id="address1" name="address1" class="form-control" required>
			<input type="text" id="address2" name="address2" class="form-control">
		</div>
		<div class="form-group">
			<label for="city">
				City: <small class="text-danger">*</small>
			</label>
			<input type="text" id="city" name="city" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="state">
				State: <small class="text-danger">*</small>
			</label>
			<input type="text" id="state" name="state" class="form-control" value="FL" required>
		</div>
		<div class="form-group">
			<label for="zip">
				Zip: <small class="text-danger">*</small>
			</label>
			<input type="text" id="zip" name="zip" class="form-control" required>
		</div>

		<div class="form-group">
			<label>
				Age:
			</label>
			<div class="radio">
				<label>
					<input type="radio" name="volunteerAge" id="volunteerAge1" value="over 18" checked>
					The volunteer is 18 years or older
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="volunteerAge" id="volunteerAge2" value="under 18">
					The volunteer is under the age of 18
				</label>
			</div>
		</div>

		<div class="form-group">
			<label for="comments">
				Additional comments or questions:
			</label>
			<textarea id="comments" name="comments" class="form-control" placeholder=""></textarea>
		</div>
	</fieldset>

	<fieldset>
		<legend>T-Shirt</legend>

		<div class="form-group">
			<label for="shirt-size">
				Select shirt size <small class="text-danger">*</small>
			</label>
			<select class="form-control" id="shirt-size" name="shirt-size" required>
				<option value="">Select a Size</option>
				<option value="sm">small</option>
				<option value="md">medium</option>
				<option value="lg">large</option>
				<option value="xl">x-large</option>
			</select>
			<ul class="help-block">
				<li>shirts are in men's size</li>
				<li>shirts will be distributed based on availability</li>
				<li>we will do our best to accommodate your size preference</li>
			</ul>
		</div>

	</fieldset>

	<fieldset>
		<legend>Waiver</legend>

		<div class="form-group">
			{% include volunteer-waiver.html %}
			<label>
				<input type="checkbox" id="accept_waiver" name="accept_waiver" required> I agree to the terms and conditions listed in the waiver above <small class="text-danger">*</small>
			</label>
		</div>

	</fieldset>

	<div class="form-group">
		<input type="text" name="_gotcha" style="display:none" />
		<input type="submit" value="Submit Form" class="btn btn-primary">
	</div>

</form>
