<div class="table-responsive">
	<table class="table table-striped">

		<thead>
			<tr>
				<th>
					Type of Sponsorship
				</th>
				<th>
					Price
				</th>
				<th>
					Benefits
				</th>
			</tr>
		</thead>

		<tbody>

			<tr>
				<td>
					Clydesdale
				</td>
				<td>
					$2,500
				</td>
				<td>
					<ul>
						<li>Large logo printed on the back of the t-shirt and all printed items</li>
						<li>Product/flyer placement in racer's packets</li>
						<li>Display table at event</li>
						<li>Sponsor provided banner prominently displayed at event</li>
						<li>Logo and website link through June 30th, 2017 on Bakas website</li>
						<li>10 complimentary race entries</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					Thoroughbred
				</td>
				<td>
					$1,000
				</td>
				<td>
					<ul>
						<li>Medium logo printed on the back of the t-shirt and all printed items</li>
						<li>Product/flyer placement in racer's packets</li>
						<li>Display table at event</li>
						<li>Sponsor provided banner displayed at event</li>
						<li>6 complimentary race entries</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					Quarter Horse
				</td>
				<td>
					$500
				</td>
				<td>
					<ul>
						<li>Small logo printed on the back of the t-shirt and all printed items</li>
						<li>Product/flyer placement in racer's packets</li>
						<li>Display table at event</li>
						<li>3 complimentary race entries</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					Arabian
				</td>
				<td>
					$250
				</td>
				<td>
					<ul>
						<li>Small logo printed on the back of the t-shirt and all printed items</li>
						<li>Product/flyer placement in racer's packets</li>
						<li>Display table at event</li>
						<li>1 complimentary race entry</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					Pony
				</td>
				<td>
					$100
				</td>
				<td>
					<ul>
						<li>Listing of your name at the bottom of the t-shirt and all printed items</li>
						<li>Product/flyer placement in racer's packets</li>
						<li>Display table at event</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					Friends of Bakas
				</td>
				<td>
					Any amount
				</td>
				<td>
					<ul>
						<li>May be used for race expenses</li>
					</ul>
				</td>
			</tr>

		</tbody>

	</table>
</div>
